p {
    background-color: aquamarine;
}

a {
    background-color: lightsalmon;
}

div {
    background-color: lightblue;
}

#firstdiv {
    background-color: yellow;
}

.red {
    background-color: red;
}